In [2]:
import pandas as pd

In [3]:
links={"GDP":"C://Users//Lenovo//Desktop//coursera data//4 Python for Data Science and AI//clean_gdp.csv",\
      "Unemployment":"C://Users//Lenovo//Desktop//coursera data//4 Python for Data Science and AI//clean_unemployment.csv"}

In [4]:
df=pd.read_csv(links["GDP"])

In [5]:
df.head()

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

In [6]:
df = pd.read_csv(links["Unemployment"])

In [7]:
df.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

In [25]:
df2=df[df["unemployment"]>8.5]

In [26]:
df2

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333

In [27]:
from bokeh.plotting import figure, output_file, show

In [44]:
def make_dashboard(x, gdp_change, unemployment, title, file_name):
    output_file(file_name)                                                                             
    p = figure(title=title, x_axis_label='year', y_axis_label='%')          
    p.line(x.squeeze(), gdp_change.squeeze(), color="orange", line_width=7, legend="% GDP change")  
    p.line(x.squeeze(), unemployment.squeeze(), color="green", line_width=7, legend="% unemployed")    
    show(p)

In [45]:
df2=pd.read_csv(links["GDP"])
x = pd.DataFrame(df2, columns=['date'])
x.head()

   date
0  1948
1  1949
2  1950
3  1951
4  1952

In [46]:
df=pd.read_csv(links["GDP"])
gdp_change = pd.DataFrame(df, columns=['change-current'])
gdp_change.head()

   change-current
0            -0.7
1            10.0
2            15.7
3             5.9
4             6.0

In [47]:
df3=links['Unemployment']
unemploy_dataframe1= pd.read_csv(df3)
unemployment = pd.DataFrame(unemploy_dataframe1, columns=['unemployment'])
unemployment.head()

   unemployment
0      3.750000
1      6.050000
2      5.208333
3      3.283333
4      3.025000

In [48]:
title = "Unemployment status according to GDP"

In [49]:
file_name = "status.html"

In [50]:
make_dashboard(x=x, gdp_change=gdp_change, unemployment=unemployment, title=title, file_name=file_name)